<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <h1 class="display-1 mt-4">Neues Pflanze</h1>

    <%- include('partials/scripts') -%>
  </body>
</html>
